*{
margin: 0;
padding: 0;	
}
body{
	background-color: rgb(2, 185, 185);
	color:rgb(245, 7, 245);
	font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
}
#share{
	position: absolute;
left: 10px;
	bottom: 3px;
	display: flex;
	justify-content: center;
	
}
a{
	text-decoration: none;
	font-size: 22px;
	font-weight: bolder;
	color: red;
	font-family:"Madimi One", sans-serif; ;
}

#enterName{
	position: absolute;
	z-index: 1;
	background-color: aqua;
	display: flex;
	flex-direction: column;
	width:100vw;
	height: 88vh;
	align-items: center;
	justify-content: center;
	background-image: url('/images/holi-happy-holi.gif');
}
#enterField{
	display: flex;
	flex-direction: column;
	width: 80vw;
	height: 50vh;
	justify-content: center;
	align-items: center;
}
input{
	margin: 20px;
	width: 300px;
	height: 100px;
	border-radius: 30px;
	padding: 10px;
	background-color: yellowgreen;
	font-size: 20PX;
	
}
button{
	width: 200px;
	font-size: 20px;
	height: 30px;
	border-radius: 30px;
	margin: 3px;
	background-color: yellowgreen;
	
}
#name{
height: 30px;


}

.name{
	font-family: "Madimi One", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-image: url('./images/holi-happy-holi.gif' );
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	font-size: large;
	font-weight: bolder;
	color: rgb(189, 6, 0);
}
#top{
	margin-left: 10rem;
	width: 100px;
	height: 100px;
}
#firstImg{
	display: none;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(250, 250, 250);
	z-index: 1;
}
/* <!-- bottom left --> */
#firstImg2{
	position: absolute;
	bottom: 0;
    right: 0;
	width: 40vw;
	height: 30vh;
	background-color:transparent;
}
#firstImg3{
	position: absolute;
	bottom: 0;
	left:  0px;
	width: 70vw;
	height: 10vh;
	background-color:transparent;
}
.gif{
	height: 200px;
	width: 200px;
}
#centerImg{
	width: 100%;
	height: 400px;
	animation: rotateAnimation 20s ease-in-out; /* Apply the animation */
}

@keyframes rotateAnimation {
	/* Define the keyframes for rotation */
	from {
		transform: rotate(0deg); /* Start from 0 degrees rotation */
	}
	to {
	  transform: rotate(360deg); /* Rotate to 360 degrees */
	}
}
#enterField{
	font-size: 10px;
	margin: auto;
	color: white;
	font: 10 normal 2.0em 'tahoma';
	text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
.name{
	font-size: 20px;
	margin: auto;
	color: white;
	font: 1000 normal 2.5em 'tahoma';
	text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
	
	animation: blinker 0.4s linear infinite;
	color: red;
	font-family: sans-serif;
	font-weight: bolder;
	
}

	@keyframes blinker {
		0% {
			opacity: 0;
		   }
		   50% {
			opacity: 1;
		   }
		   100% {
			opacity: 0;
		   }	
		}

 @media screen and (min-width: 1024px) {
body {
	width: 100%;
    height: 100vh;
	background-color: rgb(2 148 148);

}
.name{
	font-size: 20px;
	margin: auto;
	color: white;
	font: 1000 normal 2.5em 'tahoma';
	text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
	margin-right: 573px;
	animation: blinker 0.2s linear infinite;
	color: red;
	font-family: sans-serif;
	font-weight: bolder;
	
}
#firstImg{
	display: none;
    position: absolute;
    top: 0;
    width: 53vw;
    height: 100vh;
    background-color: rgb(2 185 185);
    z-index: 1;
}
#centerImg{
   margin: 0px 42px 33px;;
   width: 532PX;
   height: 374px;
	animation: rotateAnimation 20s ease-in-out; /* Apply the animation */
}
	.main{
		width: 100%;
		justify-items: center;
		justify-content: center;
		align-items: center;
		margin-left: 316px;
	}
	#firstImg2{
	position: absolute;
    bottom: 0;
    right: 433px;
    width: 215px;
    height: 174px;
    background-color: transparent;
	margin: 4px;
	}
	#firstImg3{
		position: absolute;
		bottom: 0;
		left: 355px;
		width: 425px;
		height: 137px;
		background-color: transparent;
		margin: 4px;
	}
	
	#top {
		margin-left: 19rem;
		width: 100px;
		height: 100px;
	}
	
	
  }
